<div class="col-md-8 mx-auto">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Quiz Dynamique</h5>
    </div>
    <div class="card-body">
      <ngb-carousel *ngIf="questions.length > 0" [interval]="0">
        <!-- Slide pour chaque question -->
        <ng-template ngbSlide *ngFor="let question of questions; let i = index">
          <div class="question-container">
            <h5>Question {{ i + 1 }} : {{ question.text }}</h5>

            <!-- Type Boutons Radio -->
            <div *ngIf="question.type === 'radio'">
              <div *ngFor="let option of question.options">
                <input
                  type="radio"
                  [name]="'question' + i"
                  [value]="option.value"
                  (change)="updateAnswer(i, option.value)"
                  [disabled]="isQuestionAnswered(i)"
                />
                <label>{{ option.label }}</label>
              </div>
            </div>

            <!-- Type Cases à Cocher -->
            <div *ngIf="question.type === 'checkbox'">
              <div *ngFor="let option of question.options">
                <input
                  type="checkbox"
                  [value]="option.value"
                  (change)="updateCheckboxAnswer(i, option.value, $event)"
                  [disabled]="isQuestionAnswered(i)"
                />
                <label>{{ option.label }}</label>
              </div>
            </div>

            <!-- Type Réponse Ouverte -->
            <div *ngIf="question.type === 'text'">
              <textarea
                class="form-control"
                placeholder="Entrez votre réponse"
                (input)="updateAnswer(i, $event.target.value)"
                [disabled]="isQuestionAnswered(i)"
              ></textarea>
            </div>
          </div>
        </ng-template>

        <!-- Flèches de navigation -->
        <a
          class="carousel-control-prev"
          href="javascript:void(0)"
          role="button"
          [class.disabled]="isQuestionAnswered(currentIndex)"
        ></a>
        <a
          class="carousel-control-next"
          href="javascript:void(0)"
          role="button"
          [class.disabled]="isQuestionAnswered(currentIndex)"
        ></a>
      </ngb-carousel>

      <!-- Bouton Soumettre -->
      <button
        class="btn btn-success mt-3 w-100"
        (click)="submitQuiz()"
      >
        Soumettre
      </button>
    </div>
  </div>
</div>
