<div class="main-card mb-3 card">
  <div class="card-header">
    <h5 class="card-title">Liste des Quiz</h5>
  </div>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let quiz of quizzes">
        <span>{{ quiz.title }}</span>
        <button class="btn btn-sm btn-warning ms-2" (click)="editQuiz(quiz)">Modifier</button>
        <button class="btn btn-sm btn-danger ms-2" (click)="deleteQuiz(quiz.id)">Supprimer</button>
      </li>
    </ul>
  </div>
</div>