<div *ngIf="post" class="mb-3 card">
  <div class="card-header-tab card-header">
    <div class="card-header d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <i class="header-icon lnr-briefcase icon-gradient bg-happy-green me-2"></i>
        <span>{{ post.title }} - Offre d'emploi</span>
      </div>
      <div class="text-end">
        <div class="widget-subheading">Date d'expiration :</div>
        <div>{{ post.expireDate | date: 'dd/MM/yyyy' }}</div>
      </div>
    </div>
    
  </div>
  <div class="g-0 row">
    <!-- Partie gauche : Détails du poste -->
    <div class="col-sm-12 col-md-6 col-xl-6">
      <div class="card no-shadow rm-border bg-transparent widget-chart text-start">
        <div class="widget-chart-content">

          <div class="widget-subheading">Poste proposé :</div>
          <div class="widget-numbers">{{ post.title }}</div>

          <div class="widget-description opacity-8">
            {{ post.description }}
            <br><br>
            <strong>Important :</strong> Le processus de recrutement comprend un
            <strong>test en ligne</strong> sélectif. Seuls les candidats ayant réussi ce test seront considérés pour ce poste.
          </div>
        </div>
      </div>
    </div>

    <!-- Partie droite : Responsabilités -->
    <div class="col-sm-12 col-md-6 col-xl-6">
      <div class="card no-shadow rm-border bg-transparent widget-chart text-start">
        <div class="widget-chart-content">
          <div class="widget-subheading">Responsabilités :</div>
          <ul>
            <li *ngFor="let responsibility of post.responsabilites">{{ responsibility }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Bouton pour passer le test -->
  <div class="text-center d-block p-3 card-footer"  *ngIf="user.role === 'CONDIDATE'">
    <button
      *ngIf="!userAnswer && post.quizId "
      class="btn-pill btn-shadow btn-wide fsize-1 btn btn-primary btn-lg"
      [routerLink]="['/quiz', post.quizId]"
    >
      <span class="me-2 opacity-7">
        <i class="icon icon-anim-pulse ion-ios-paper-plane-outline"></i>
      </span>
      Passer le test en ligne
    </button>

      <span class="me-2 opacity-7"  *ngIf="userAnswer">
        votre score est :  {{userAnswer.scoreDescription}} 
      </span>
    
  </div>
</div>

<ng-container *ngIf="post && user.role != 'CONDIDATE'">
  <app-result-table-candidat [postId]="post?.id"></app-result-table-candidat>
</ng-container>
